html,
body,
div,
h1,
label,
input,
button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



html {
    font-size: 14px;
    font-family: sans-serif;
}

body {
    background: #eee;
    color: #333;
}


/**
 * Table
 */

table {
    border-collapse: collapse;
}

td,
th {
    padding: 0.25em 0.5em;
    border: 3px solid #eee;
    border-radius: 10px;
}

th {
    font-size: 1.2em;
    font-weight: normal;
}

thead th {
    font-size: 1.6em;
    padding: 0.5em;
}

th:first-child {
    text-align: left;
}

td {
    font-size: 1.6em;
    line-height: 1.2em;
    text-align: center;
}


/**
 * Data
 */

/* https://www.w3schools.com/charsets/ref_emoji.asp */
/* palette = pastel red #ff6961 = https://convertingcolors.com/decimal-color-16738657.html */

.on {
    background: #fff;
}
.on::before {
    content: " ";
}

.hz {
    background: #ccc;
}
.hz::before {
    content: " ";
}

.off {
    background: #999;
}
.off::before {
    content: " ";
}

.today.hz {
    background: #ffb2ae;
}
.today.off {
    background: #ff817a;
}

.today.now {
    /*border: 9px solid #c03032;*/
    font-size: 3.2em;
    line-height: 0.6em;
    padding: 0.125em 0.25em;
    position: relative;
}
.today.now::before {
    display: inline-block;
    margin: 0 -1em;
    position: relative;
    z-index: 1;
}
.today.now::after {
    content: "";
    border: 9px solid #c03032;
    position: absolute;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    border-radius: 12px;
}


body.emoji-skin .on::before {
    content: "\1F31E";
}
body.emoji-skin .hz::before {
    content: "\1F937";
}
body.emoji-skin .off::before {
    content: "\1F31A";
}

body.geometric-skin .on::before {
    content: "\25EF";
}
body.geometric-skin .hz::before {
    content: "\25C8";
}
body.geometric-skin .off::before {
    content: "\25BE";
}

body.text-skin .on::before {
    content: "є";
}
body.text-skin .hz::before {
    content: "??";
}
body.text-skin .off::before {
    content: "ніт";
}

body.minimal-skin .today.now,
body.text-skin .today.now {
    font-size: 1.6em;
}

/**
 * Layout
 */

.wrapper {
    width: auto;
    max-width: 800px;
    margin: 0 auto;
}

.header,
.toolbar {
    font-size: 2em;
    margin: 1em auto 0.5em;
}

.header {
    text-align: center;
    margin-top: 1em;
}

table,
.meta {
    width: 100%;
    margin-bottom: 1.6em;
}

.meta {
    font-style: italic;
}

select,
button {
    display: inline-block;
    font-size: 1em;
    padding: 0.5em 1em;
    text-align: center;
    border: 1px solid #999;
    background: transparent;
    color: #333;
    height: 2.2em;
    vertical-align: middle;

    border-radius: 5px;
    cursor: pointer;
}

.header select {
    width: 100%;
}

.toolbar {
    margin-bottom: 1em;
}

#switch-mode {
    /*background: #333;
    color: #ccc;*/
}
#switch-mode::before {
    content: "\25D1";
}
#switch-mode .light {
    display: inline-block;
}
#switch-mode .dark {
    display: none;
}

#switch-skin {
    text-align: left;
}


/**
 * Dark mode
 */

body.dark {
    background-color: #333;
    color: #ccc;
}

body.dark #switch-mode {
    /*background-color: #eee;
    color: #333;*/
}
body.dark #switch-mode .light {
    display: none;
}
body.dark #switch-mode .dark {
    display: inline-block;
}

body.dark td,
body.dark th {
    border-color: #333;
}

body.dark .on {
    background-color: #888;
}
body.dark .hz {
    background-color: #555;
}
body.dark .off {
    background-color: #222;
}


/*body.dark .today.hz {
    background-color: #6e423f;
}
body.dark .today.off {
    background-color: #431917;
}*/
body.dark .today.hz {
    background-color: #6e423f;
}
body.dark .today.off {
    background-color: #640000;
}

body.dark .today.now::after {
    border-color: #ff6961;
}

body.dark select,
body.dark button {
    border-color: #888;
    color: #ccc;
}
